<h1>Order of the Phoenix Members</h1>

<% if @members.empty? %>
  <h3>There are no Members from this house!</h3>

<% else %>
  <h3>House <%= @members.first.house %> has <%= @members.size %> Members</h3>

  <% @members.each do |member| %>
    <div class="member">
      <h4 class="name"> <%= member.name %> </h4>
    <ul>
      <% if member.role %>
        <li class="role">Role: <%= member.role %></li>
      <% end %>
      <li class="house">House: <%= member.house %></li>
      <% if member.patronus %>
        <li class="patronus">Patronus: <%= member.patronus %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% end %>
